﻿@inject ApplicationController Fdc
@inject IRefreshService Refresh
@inject IJSRuntime JsRuntime
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow">
        <div class="nav-container">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <img src="../images/fdc_logo1024.png" style="width:24px; position:relative; left:-8px;" />
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light dropdown">
                            <button type="button" id="menuFile" class="btn btn-outline-header-menu dropdown-toggle" data-bs-toggle="dropdown" data-bs-target="#fileMenu">File</button>
                            <ul class="dropdown-menu fileMenu" id="fileMenu" data-bs-popper="static" data-theme="dark">
                                <li class="dropdown-item fileMenu-item">
                                    <button id="create-project" type="button" class="fileMenu-button"><img class="context-icon" src="../images/icons/file.svg" />New</button>
                                </li>
                                <li class="dropdown-item fileMenu-item">
                                    <div class="fileinputs" style="height:18px;">
                                        <input type="file" title=" " accept=".fdc" class="form-control file" id="openProjectFile" @onchange="@(()=>OnOpenProject("openProjectFile"))" />
                                        <button type="button" class="fileMenu-button fakefile-menu"><img class="context-icon" src="../images/icons/folder.svg" />Open</button>
                                    </div>
                                </li>
                                <li class="dropdown-item fileMenu-item">
                                    <button type="button" class="fileMenu-button" @onclick="()=>OnSaveAsProject()"><EmptyIcon></EmptyIcon>Save A Copy</button>
                                </li>
                                <li class="dropdown-item fileMenu-item">
                                    <button type="button" class="fileMenu-button" @onclick="()=>OnSaveProject()"><img class="context-icon" src="../images/icons/save.svg" /> Save </button>
                                </li>
                                <li class="dropdown-item fileMenu-item">
                                    <button type="button" class="fileMenu-button" @onclick="()=>OnExportForGame()"><img class="context-icon" src="../images/icons/download.svg" />Export for Game</button>
                                </li>
                                <li class="dropdown-item fileMenu-item" data-divider="top">
                                    <button type="button" class="fileMenu-button" @onclick="()=>OnSaveProjectAsPrefab()"><img class="context-icon" src="../images/icons/save-simple.svg" />Save As Project Prefab</button>
                                </li>
                                <li class="dropdown-item fileMenu-item">
                                    <div class="fileinputs" style="height:18px;">
                                        <input type="file" title=" " accept="application/JSON" class="form-control file" id="importTemplates" @onchange="@(()=>OnImportTemplates("importTemplates"))" />
                                        <button type="button" class="fileMenu-button fakefile-menu"><img class="context-icon" src="../images/icons/file-import.svg" />Import Templates</button>
                                    </div>
                                </li>
                                <li class="dropdown-item fileMenu-item" data-divider="bottom">
                                    <button type="button" class="fileMenu-button" @onclick="@(()=>OnExportTemplates())"><img class="context-icon" src="../images/icons/file-export.svg" />Export Templates</button>
                                </li>
                                <li class="dropdown-item fileMenu-item">
                                    <button type="button" class="fileMenu-button" @onclick="@(()=>OnExit("close"))"><EmptyIcon></EmptyIcon>Exit</button>
                                </li>
                            </ul>
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light dropdown">
                            <button type="button" id="menuEdit" class="btn btn-outline-header-menu dropdown-toggle" data-bs-toggle="dropdown" data-bs-target="#fileEdit">Edit</button>
                            <ul class="dropdown-menu fileMenu" id="fileEdit" data-bs-popper="static" data-theme="dark">
                                <li class="dropdown-item fileMenu-item">
                                    <button id="open-preferences-window" type="button" class="fileMenu-button"><img class="context-icon" src="../images/icons/gear.svg" />Preferences</button>
                                </li>
                            </ul>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-nav="layout" data-bs-toggle="tab" role="tab">Layout</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-nav="animation" data-bs-toggle="tab" role="tab">Animation</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-nav="templateedit" data-bs-toggle="tab" role="tab">Template Edit</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
@code {
    public async Task OnOpenProject(string domId)
    {
        string path = await JsRuntime.InvokeAsync<string>("getFilePath", domId);
        Fdc.OpenProject(path);
        CallRefresh();
    }
    public void OnSaveProjectAsPrefab()
    {
        var success = Fdc.SaveProjectAsPrefab();
        CallRefresh();
    }
    public void OnSaveAsProject()
    {
        var bytes = System.Text.Encoding.UTF8.GetBytes(Fdc.GetProjectJson());
        JsonDownload($"{Fdc.GetProject().Name}.fdc", Convert.ToBase64String(bytes));
    }
    public void OnSaveProject()
    {
        var success = Fdc.SaveProject();
        //do something? probably in status bar
    }
    public void OnExportForGame()
    {
        var jsonString = Fdc.GetLayersJson();
        if (!String.IsNullOrEmpty(jsonString))
        {
            var bytes = System.Text.Encoding.UTF8.GetBytes(jsonString);
            JsonDownload($"fdc_{Fdc.GetProject().Name}.fdc", Convert.ToBase64String(bytes));
        }
        else
        {
            /*error message, status bar?*/
        }
    }
    public async Task OnImportTemplates(string domId)
    {
        string path = await JsRuntime.InvokeAsync<string>("getFilePath", domId);
        Fdc.ImportTemplateJson(path);
        CallRefresh();
    }
    public void OnExportTemplates()
    {
        var bytes = System.Text.Encoding.UTF8.GetBytes(Fdc.GetTemplateJson());
        JsonDownload($"templates.json", Convert.ToBase64String(bytes));
    }
    public void OnExit(string value)
    {
        JsRuntime.InvokeVoidAsync($"window.{value}");
    }
    private void CallRefresh()
    {
        Refresh.CallRequestRefresh();
    }
    private void JsonDownload(string filename, string jsonBase64)
    {
        JsRuntime.InvokeAsync<object>("saveAsFile", filename, jsonBase64);
    }
}
