﻿@inject ApplicationController Fdc
@inject IRefreshService Refresh

<div class="layout-window">
    <div class="layout-header">
        @(LayerContext != null ? LayerContext.Name : "")
        @if (LayerContext != null)
        {
            <span class="ml-auto">
                <label id="exportlayer" for="@LayerContext.Id">Export?</label>
                <input type="checkbox" class="form-check-input" placeholder="true" id="@LayerContext.Id" @bind="LayerContext.Export" />
            </span>
        }
        @*<button type="button" class="btn btn-outline-header-menu ">BUTTONS</button>*@
    </div>
    <div class="properties-overflow">
        <div class="properties-view">
            @if (LayerContext != null)
            {
                <div class="properties-context-title">
                    Name : <input type="text" class="form-control" placeholder="Enter name here" id="LayerName" @bind="_layerName">
                    GameId : <input type="text" class="form-control" placeholder="Enter name here" id="LayerName" @bind="_layerGameId">
                </div>
                @foreach (var attribute in LayerContext.Attributes)
                {
                    <div class="property">
                        <AttributePropertiesView Property="@(attribute)"></AttributePropertiesView>
                    </div>
                }
            }
        </div>
    </div>
</div>
@code {
    public Layer? LayerContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        LayerContext = Fdc.GetLayerContext();
        Refresh.RefreshRequested += RefreshMe;
    }
    private string _layerGameId
    {
        get => LayerContext.GameId;
        set
        {
            LayerContext.GameId = value;
            CallRefresh();
        }
    }
    private string _layerName
    {
        get => LayerContext.Name;
        set
        {
            LayerContext.Name = value;
            CallRefresh();
        }
    }
    private void CallRefresh()
    {
        Refresh.CallRequestRefresh();
    }
    private void RefreshMe()
    {
        LayerContext = Fdc.GetLayerContext();
        StateHasChanged();
    }
}
