﻿@using System.Drawing;
@inject ApplicationController Fdc
@inject IRefreshService Refresh
@inject IJSRuntime JsRuntime

<div class="layout-window">
    <div class="layout-header">
        <button type="button" class="btn btn-outline-header-menu mr-auto">None</button>
        <span>Img count: @(LayerContext != null && AnimContext != null && AnimContext.ImageListPath.Count > 0?AnimContext.ImageListPath.Count:0)</span>
    </div>

    @if (LayerContext != null && AnimContext != null && AnimContext.ImageListPath.Count > 0)
    {
        <div class="sprite-strip">
            @for (int i = 0; i < AnimContext.ImageListPath.Count; i++)
            {
                var cnt = i;
                <div class="sprite-strip-image @(AnimContext.ImagesLayersUID[cnt]==LayerContext.Id?"sprite-selected":"")" id="@AnimContext.ImagesLayersUID[cnt]" @onclick="async ()=>{await OnClickSprite(AnimContext.ImageListPath[cnt],AnimContext.ImagesLayersUID[cnt]);}">
                    <img src="@AnimContext.ImageListPath[cnt]" />
                    <div class="sprite-strip-image-overlay"></div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="sprite-strip">
            @for (var i = 0; i < 7; i++)
            {
                <div class="sprite-strip-image">
                    <img src="../images/fdc_logo1024.png" />
                    <div class="sprite-strip-image-overlay"></div>
                </div>
            }
        </div>
    }

</div>
@code {
    public Project? Project { get; set; }
    public Layer? LayerContext { get; set; }
    public Animation? AnimContext { get; set; }
    public async Task OnClickSprite(string path, string layerId)
    {
        int height;
        int width;
        //Transform path into an image so we can read h/w
        // using (var fileStream = new FileStream(path, FileMode.Open, FileAccess.Read, FileShare.Read))
        // {
        //     using (var image = Image.FromStream(fileStream, false, false))
        //     {
        //         height = image.Height;
        //         width = image.Width;
        //     }
        // }
        // string value = await JsRuntime.InvokeAsync<string>("scrollImage", width/2, height/2);

        Fdc.SetLayerContext(layerId);
        CallRefresh();
    }
    protected override async Task OnInitializedAsync()
    {
        Project = Fdc.GetProject();
        LayerContext = Fdc.GetLayerContext();
        AnimContext = Fdc.GetAnimationContext();
        Refresh.RefreshRequested += RefreshMe;
    }
    private void CallRefresh()
    {
        Refresh.CallRequestRefresh();
    }
    private void RefreshMe()
    {
        Project = Fdc.GetProject();
        LayerContext = Fdc.GetLayerContext();
        AnimContext = Fdc.GetAnimationContext();
        StateHasChanged();
    }
}
