﻿@inject ApplicationController Fdc
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow">
        <div class="nav-container">            
            <div class="status-bar navbar-collapse collapse d-sm-inline-flex justify-content-between">
                Add useful information down here
            </div>
        </div>
    </nav>
</header>
@code {

}
