﻿@inject ApplicationController Fdc
@inject IRefreshService Refresh

<div class="layout-window">
    @if (TemplateContext != null)
    {
        <div class="layout-header-dropdownparent">
            <a class="dropdown" style="position:relative;">
                <button type="button" class="btn btn-outline-header-menu dropdown-toggle" data-bs-toggle="dropdown" data-bs-target="#addAttributeDropdown">
                    <img class="context-icon" src="@("../images/icons/square-plus.svg")" />
                    Add Attribute&nbsp;
                </button>
                <ul class="dropdown-menu fileMenu" id="addAttributeDropdown" data-bs-popper="static" data-theme="dark">
                    <li class="dropdown-item fileMenu-item">
                        <button type="button" class="fileMenu-button"
                            @onclick="()=> TemplateContext.Attributes.Insert(0,new Text())">
                            <img class="context-icon" src="../images/icons/file.svg" />Text
                        </button>
                    </li>
                    <li class="dropdown-item fileMenu-item">
                        <button type="button" class="fileMenu-button"
                            @onclick="()=> TemplateContext.Attributes.Insert(0,new Integer())">
                            <img class="context-icon" src="../images/icons/file.svg" />Integer
                        </button>
                    </li>
                    <li class="dropdown-item fileMenu-item">
                        <button type="button" class="fileMenu-button"
                            @onclick="()=> TemplateContext.Attributes.Insert(0,new Real())">
                            <img class="context-icon" src="../images/icons/file.svg" />Real
                        </button>
                    </li>
                    <li class="dropdown-item fileMenu-item" data-divider="bottom">
                        <button type="button" class="fileMenu-button"
                            @onclick="()=> TemplateContext.Attributes.Insert(0,new BoolCheck())">
                            <img class="context-icon" src="../images/icons/file.svg" />Boolean Check
                        </button>
                    </li>
                    <li class="dropdown-item fileMenu-item">
                        <button type="button" class="fileMenu-button"
                            @onclick="()=> TemplateContext.Attributes.Insert(0,new RadioChoice())">
                            <img class="context-icon" src="../images/icons/file.svg" />Radio Choices
                        </button>
                    </li>
                    <li class="dropdown-item fileMenu-item">
                        <button type="button" class="fileMenu-button"
                            @onclick="()=> TemplateContext.Attributes.Insert(0,new ListChoice())">
                            <img class="context-icon" src="../images/icons/file.svg" />List from Choices
                        </button>
                    </li>
                    <li class="dropdown-item fileMenu-item">
                        <button type="button" class="fileMenu-button"
                            @onclick="()=> TemplateContext.Attributes.Insert(0,new ListFromGroup())">
                            <img class="context-icon" src="../images/icons/file.svg" />List from Group/Layer
                        </button>
                    </li>
                    <li class="dropdown-item fileMenu-item " data-divider="top">
                        <button type="button" class="fileMenu-button"
                            @onclick="()=> TemplateContext.Attributes.Insert(0,new Origin())">
                            <img class="context-icon" src="../images/icons/file.svg" />Origin
                        </button>
                    </li>
                    <li class="dropdown-item fileMenu-item">
                        <button type="button" class="fileMenu-button"
                            @onclick="()=> {TemplateContext.Attributes.Insert(0,new HitBox(new Position())); CallRefresh();}">
                            <img class="context-icon" src="../images/icons/file.svg" />Hit Box
                        </button>
                    </li>
                    <li class="dropdown-item fileMenu-item">
                        <button type="button" class="fileMenu-button"
                            @onclick="()=> TemplateContext.Attributes.Insert(0,new FrameImage())">
                            <img class="context-icon" src="../images/icons/file.svg" />Frame Image
                        </button>
                    </li>
                    <li class="dropdown-item fileMenu-item">
                        <button type="button" class="fileMenu-button"
                            @onclick="()=> TemplateContext.Attributes.Insert(0,new FrameDataCreator.Models.Attributes.Animation())">
                            <img class="context-icon" src="../images/icons/file.svg" />Animation
                        </button>
                    </li>
                </ul>
            </a>
        </div>
        <div class="properties-overflow">
            <div class="properties-view-template">
                <div class="properties-context-title" style="width:100%; ">
                    Template Name : <input type="text" class="form-control" placeholder="Enter name here" id="TemplateName" @bind="_templateName">
                    Template GameId : <input type="text" class="form-control" placeholder="Enter gameId" id="TemplateGameId" @bind="_templateGameId">
                </div>
                @foreach (var attribute in TemplateContext.Attributes)
                {
                    <div class="property-template">
                        <TemplateAttributePropertiesView Context="TemplateContext" Property="@(attribute)"></TemplateAttributePropertiesView>
                    </div>
                }

            </div>
        </div>
    }
</div>
@code {
    public Template? TemplateContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        TemplateContext = Fdc.GetTemplateContext();
        Refresh.RefreshRequested += RefreshMe;
    }
    private string _templateGameId
    {
        get => TemplateContext.GameId;
        set
        {
            TemplateContext.GameId = value;
            CallRefresh();
        }
    }
    private string _templateName
    {
        get => TemplateContext.Name;
        set
        {
            TemplateContext.Name = value;
            CallRefresh();
        }
    }
    private void CallRefresh()
    {
        Refresh.CallRequestRefresh();
    }
    private void RefreshMe()
    {
        TemplateContext = Fdc.GetTemplateContext();
        StateHasChanged();
    }
}
