﻿@inject ApplicationController Fdc
@inject IRefreshService Refresh

<div class="layout-window">
    <div class="layout-header">
        <button type="button" class="btn btn-outline-header-menu " @onclick="()=>AddTemplate()">
            <img class="context-icon" src="@("../images/icons/square-plus.svg")" />
            Add Template
        </button>
    </div>
    <div class="tree-scroll" >
        <table class="table treetable table-hover table-dark">
            @if (Project != null)
            {
                <tbody>
                    @foreach (var template in Project.Templates)
                    {
                        <tr style="height:26px;" class="table-active file @(template.Id==TemplateContext?.Id?"active":"")" @onclick="()=>SelectTemplate(template.Id)">
                            <td class="folder-symbol mr-auto">
                                @*TODO: Have a symbol for different styles of templates like images, animations, data, etc.
                        Use FontAwesome libraries and add the .svg like other icon images in the project
                        *@
                            </td>
                            <td class="mr-auto">
                                @template.Name
                            </td>
                            <td class="" style="width:48px;">
                                <button type="button" class="btn-tree" @onclick="()=>DeleteTemplate(template.Id)">
                                    <img class="context-icon" src="@("../images/icons/square-minus.svg")" />
                                </button>
                                <button type="button" class="btn-tree" @onclick="()=>CopyTemplate(template.Id)">
                                    <img class="context-icon" src="@("../images/icons/copy.svg")" />
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            }
        </table>
    </div>
</div>


@code {
    public Template? TemplateContext { get; set; }
    public Project? Project { get; set; }

    public void SelectTemplate(string templateId)
    {
        Fdc.SetTemplateContext(templateId);
        CallRefresh();
    }
    public void AddTemplate()
    {
        Fdc.CreateTemplate();
        CallRefresh();
    }
    public void CopyTemplate(string templateId)
    {
        Fdc.CloneTemplate(templateId);
        CallRefresh();
    }
    public void DeleteTemplate(string templateId)
    {        
        Fdc.DeleteTemplate(templateId);
        CallRefresh();
    }
    protected override async Task OnInitializedAsync()
    {
        TemplateContext = Fdc.GetTemplateContext();
        Project = Fdc.GetProject();
        Refresh.RefreshRequested += RefreshMe;
    }
    private void CallRefresh()
    {
        Refresh.CallRequestRefresh();
    }
    private void RefreshMe()
    {
        TemplateContext = Fdc.GetTemplateContext();
        Project = Fdc.GetProject();
        StateHasChanged();
    }
}
