/*!
 * framedatacreator (https://gitlab.com/alixrocheleau/framedatacreator)
 * Theme: Custom
 * Copyright 2023 Alix Rocheleau
 * Licensed under MIT
*/
:root {
    --nav-height: 26px;
}

*, *::after, *::before {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
    white-space: nowrap;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
}

article {
    height: 100%;
}

main {
    height: 100%;
}

.content {
    height: 100%;
    display: flex;
}

.container {
    height: calc( 100vh - var(--nav-height) - var(--nav-height) - 4px );
}

a {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}


/* START CUSTOM PER PAGE*/
/*RESIZER START*/
.empty-resizer {
    min-width: 4px;
    min-height: 2px;
}

.resizer {
    min-width: 4px;
    min-height: 4px;
}

    .resizer[data-direction="horizontal"] {
        cursor: col-resize;
    }

    .resizer[data-direction="vertical"] {
        cursor: row-resize;
    }

.content-flex-column {
    display: flex;
    flex-direction: column;
    min-height: 36px;
    min-width: 36px;
    overflow: auto;
}

.content-flex-last {
    flex: 1 1 0%;
}

/*RESIZER END*/
/* HEADER start*/
.status-bar {
    color: var(--bs-gray-600);
}

.nav-tabs {
    --bs-nav-tabs-link-hover-border-color: var(--bs-primary-light);
    --bs-nav-tabs-border-radius: 6px;
}

.btn-outline-header-menu {
    --bs-btn-color: var(--bs-gray-200);
    --bs-btn-border-color: rgba(0,0,0,0);
    --bs-btn-hover-color: var(--bs-gray-100);
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary-light);
    --bs-btn-focus-shadow-rgb: 55,90,127;
    --bs-btn-active-color: var(--bs-gray-100);
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary-light);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--bs-primary);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--bs-primary);
    --bs-gradient: none;
    font-size: 12px;
    padding: 0 0.3em;
    text-shadow: 1px 1px var(--bs-black);
}

.navbar {
    padding: 0;
    font-size: 12px;
    height: var(--nav-height);
}

.navbar-nav {
    padding: 0;
}

.nav-link {
    padding: 0 0;
}

.nav-container {
    padding: 0 1em;
}

.nav-tabs {
    padding: 0 1em;
    margin-top: 4px;
    --bs-nav-tabs-border-color: transparent;
}

    .nav-tabs .nav-link {
        padding: 0 0.5em;
        color: var(--bs-gray-500);
        text-shadow: 1px 1px var(--bs-black);
        border-top-left-radius: var(--bs-nav-tabs-border-radius);
        border-top-right-radius: var(--bs-nav-tabs-border-radius);
    }
/* HEADER end*/
/* TREE VIEW START*/
.tree-scroll {
    width: 100%;
    height: calc( 100% - 27px);
    overflow: auto;
    margin: 4px 0 4px 0;
}

.treetable {
    position: relative;
    padding: 0;
    border-spacing: 0;
}

    .treetable td {
        padding: 0;
    }

.file {
    display: table-row;
    list-style: none;
    padding: 0;
}

    .file.active {
        z-index: 2;
        background-color: var(--bs-primary);
    }

        .file.active > * {
            z-index: 10;
            background-color: var(--bs-primary);
            box-shadow: none;
        }

.folder-symbol {
    text-align: center;
    width: 24px;
    max-width: 24px;
}

.folder-content > td:not(.folder-symbol,.folder-empty) {
    padding-left: 24px;
}

.folder-content.nested tr.folder-empty:hover {
    --bs-table-hover-bg: transparent;
}

.folder-empty {
}

.folder {
    position: relative;
    list-style: none;
    cursor: default;
}

.folder-content {
    --bs-table-bg: var(--bs-gray-900);
}

.nested {
    border-color: var(--bs-gray-900);
}

    .nested:hover {
        --bs-table-hover-bg: transparent;
    }

.folder tr.folder-content {
    display: none;
}


.folder.folder-open > .folder-content {
    display: table-row;
}

/* TREE VIEW END*/
/* IMAGE VIEW START */
.image-overflow {
    position: relative;
    width: 100%;
    height: calc(100% - 27px);
    overflow: auto;
    background-color: var(--bs-primary-darker);
    margin-top: 2px;
    border: 2px ridge var(--bs-info-dark);
    border-radius: 4px;
    padding: 2px;
}

/*.ui-resizable-helper {*/
    /*border: solid 1px var(--bs-info);*/
    /*background-color:white;
    box-sizing:content-box;
}*/

.cross-origin {
    filter: invert(99%) sepia(1%) saturate(402%) hue-rotate(179deg) brightness(98%) contrast(100%);
    /*box-shadow: 4px 4px 4px var(--bs-primary-darker);*/
}

.image-image {
    position: relative;
    --bs-card-bg: #303030;
    background-color: var(--bs-primary-darker);
    width: calc(2*1920px);
    height: calc(2*1080px);
    background: repeating-conic-gradient(var(--bs-card-bg) 0% 25%, transparent 0% 50%) 50% / 48px 48px;
}

    .image-image img {
        position: absolute;
        top: 25%;
        left: 25%;
    }

    .image-image .hitbox {
        position: absolute;
        top: 25%;
        left: 25%;
    }

.image-view {
    position: relative;
}

.ui-draggable:hover span {
    display: block;
}
.hitbox {
    opacity: 1;
    box-sizing: content-box;
    outline: none;
}
.hitbox-selected {
    opacity: 1;
    outline: none;
}
.hitbox-draggable {
    border-radius: 4px;
    display: none;
    position: absolute;
    top: calc(50% - 16px);
    left: calc(50% - 16px);
    width: 32px;
    height: 32px;
    cursor: move;
    background-image: url(../images/icons/resize-move.png);
    background-repeat: no-repeat;
    background-position-x: 8px;
    background-position-y: 8px;
    background-size: 16px;
    opacity: 0.8;
}

    .hitbox-draggable:hover {
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.2);
        border: 1px groove rgba(0, 255, 255, 0.4);
        background-image: url(../images/icons/resize-move.png);
        background-repeat: no-repeat;
        background-position-x: 7px;
        background-position-y: 7px;
        background-size: 16px;
    }

.ui-resizable-handle {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px groove rgba(0, 255, 255, 0.4);
}
.ui-resizable-n {
    cursor: n-resize;
    height: 6px;
    width: 100%;
    top: -4px;
    left: 0px;
}

.ui-resizable-s {
    cursor: s-resize;
    height: 6px;
    width: 100%;
    bottom: -4px;
    left: 0
}

.ui-resizable-e {
    cursor: e-resize;
    width: 6px;
    right: -4px;
    top: 0;
    height: 100%
}

.ui-resizable-w {
    cursor: w-resize;
    width: 6px;
    left: -4px;
    top: 0px;
    height: 100%
}

.ui-resizable-se {
    cursor: se-resize;
    width: 10px;
    height: 10px;
    right: -5px;
    bottom: -5px;
}

.ui-resizable-sw {
    cursor: sw-resize;
    width: 10px;
    height: 10px;
    left: -5px;
    bottom: -5px;
}

.ui-resizable-nw {
    cursor: nw-resize;
    width: 10px;
    height: 10px;
    left: -5px;
    top: -5px;
}

.ui-resizable-ne {
    cursor: ne-resize;
    width: 10px;
    height: 10px;
    right: -5px;
    top: -5px;
}
.ui-resizable-resizing div.ui-resizable-handle{
    display:none !important;
}
/* IMAGE VIEW END */
/* ANIMATION VIEW START*/
img.playback-icon {
    width: 18px;
    height: 18px;
    filter: invert(99%) sepia(1%) saturate(402%) hue-rotate(179deg) brightness(98%) contrast(100%);
}
.animation-overflow {
    position: relative;
    width: 100%;
    height: calc(100% - 27px);
    overflow: auto;
    padding: 2px;
    margin-top: 2px;
}

.animation-view {
    position: relative;
    height: 100%;
    width: 100%;
}

.animation-animation {
    position: relative;
    height: 100%;
    width: 100%;
    --bs-card-bg: #303030;
    background-color: var(--bs-card-bg);
    background: repeating-conic-gradient(var(--bs-card-bg) 0% 25%, var(--bs-primary-darker) 0% 50%) 50% / 32px 32px;
    border: 2px ridge var(--bs-info-dark);
    border-radius: 4px;
}

    .animation-animation img {
        
        max-width: 100%;
        max-height: 100%;
        display: block;
        position: absolute;
    }
/*ANIMATION VIEW END*/
/* SPRITE VIEW START*/
.sprite-strip {
    min-height: 128px;
    overflow: auto;
    display: flex;
    flex-direction: row;
    background-color: var(--bs-primary-darker);
    padding: 2px;
    margin-top: 2px;
}

.sprite-strip-image {
    margin: 2px;
    display: flex;
    max-width: 200px;
    max-height: 200px;
    --bs-card-bg: #303030;
    position: relative;
    word-wrap: break-word;
    background-clip: border-box;
    border: 2px ridge var(--bs-info-dark);
    border-radius: 4px;
    background: repeating-conic-gradient(var(--bs-card-bg) 0% 25%, transparent 0% 50%) 50% / 16px 16px;
}

    .sprite-strip-image.sprite-selected {
        --bs-card-bg: var(--bs-primary);
        border: 2px ridge var(--bs-info);
    }

    .sprite-strip-image:hover .sprite-strip-image-overlay {
        opacity: 0.2;
        background-color: var(--bs-primary-lighter);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

.sprite-strip-image-overlay {
    transition: .25s linear;
    opacity: 0;
}

.sprite-strip-image img {
    display: flex;
    max-width: 196px;
    max-height: 196px;
    position: relative;
}
/* SPRITE VIEW END*/
/* Layout Window start*/
.invisible {
    display: none;
}

.layout-window {
    border-radius: 8px;
    background-color: var(--bs-gray-900);
    padding: 4px;
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
}

    .layout-window:hover {
        background: linear-gradient(var(--bs-gray-800), var(--bs-gray-900) 20px);
    }

.layout-header {
    padding: 0 12px 0 12px;
    display: inline-flex;
    width: 100%;
    overflow: hidden;
}

.layout-header-dropdownparent {
    padding: 0 12px 0 12px;
    display: inline-flex;
    width: 100%;
    position: relative;
    overflow: visible;
}
/* Layout Window end*/

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.hidden {
    /* The menu is hidden at first */
    display: none;
}
/* File Menu START*/
.dropdown-menu.fileMenu.show {
    inset: inherit !important;
}

button.fakefile-menu {
    position: absolute;
    top: 2px;
    left: 0px;
    z-index: 1;
}

.fileMenu {
    --menu-border: rgba(255, 255, 255, 0.1);
    --menu-bg: var(--bs-gray-darky);
    --item-border: rgba(255, 255, 255, 0.1);
    --item-color: var(--bs-gray-100);
    --item-bg-hover: var(--bs-primary);
    height: 0;
    overflow: hidden;
    background: var(--menu-bg);
    -webkit-animation: menuAnimation 0.1s 0s both;
    animation: menuAnimation 0.1s 0s both;
    transform-origin: left;
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: none;
    flex-direction: column;
    z-index: 999999999;
    border: 2px ridge var(--bs-primary-dark);
    max-width: 180px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.fileMenu-item {
    height: 26px;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    flex: auto;
    /*padding: 2px;*/
    /* margin: 4px;*/
}

    .fileMenu-item[data-divider=top] {
        border-top: 1px solid;
    }

    .fileMenu-item[data-divider=bottom] {
        border-bottom: 1px solid;
    }

    .fileMenu-item[data-divider=top-bottom] {
        border-top: 1px solid;
        border-bottom: 1px solid;
    }


    .fileMenu-item[data-divider] {
        border-color: var(--item-border);
    }

.fileMenu-label {
    margin-left: auto;
    color: var(--bs-gray-600);
    background: 0;
    border: 0;
    white-space: nowrap;
    padding: 0px 4px 0px 0px;
    text-align: right;
    display: flex;
    font-size: 12px;
    font-family: Roboto, sans-serif;
    cursor: pointer;
}

.fileMenu-button {
    width: 100%;
    margin-right: auto;
    display: flex;
    color: var(--item-color);
    background: 0;
    border: 0;
    white-space: nowrap;
    padding: 0px 24px 0px 3px;
    text-align: left;
    align-items: center;
    font-size: 12px;
    font-family: Roboto, sans-serif;
    cursor: pointer;
}

.fileMenu li:hover {
    background-color: var(--item-bg-hover);
}

/* File Menu END*/
/* CONTEXT MENU START*/
.contextMenu {
    --menu-border: rgba(255, 255, 255, 0.1);
    --menu-bg: var(--bs-gray-darky);
    --item-border: rgba(255, 255, 255, 0.1);
    --item-color: var(--bs-gray-100);
    --item-bg-hover: var(--bs-primary);
    height: 0;
    overflow: hidden;
    background: var(--menu-bg);
    position: fixed;
    top: var(--top);
    left: var(--left);
    -webkit-animation: menuAnimation 0.1s 0s both;
    animation: menuAnimation 0.1s 0s both;
    transform-origin: left;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    z-index: 999999999;
    border: 2px ridge var(--bs-primary-dark);
    padding-bottom: 4px;
}

.contextMenu-item {
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    flex: auto;
    padding: 2px;
    margin: 4px;
}

    .contextMenu-item[data-divider=top] {
        border-top: 1px solid;
    }

    .contextMenu-item[data-divider=bottom] {
        border-bottom: 1px solid;
    }

    .contextMenu-item[data-divider=top-bottom] {
        border-top: 1px solid;
        border-bottom: 1px solid;
    }


    .contextMenu-item[data-divider] {
        border-color: var(--item-border);
    }

.contextMenu-label {
    margin-left: auto;
    color: var(--bs-gray-600);
    background: 0;
    border: 0;
    white-space: nowrap;
    padding: 0px 4px 0px 0px;
    text-align: right;
    display: flex;
    font-size: 12px;
    font-family: Roboto, sans-serif;
    cursor: pointer;
}

.contextMenu-button {
    margin-right: auto;
    display: flex;
    color: var(--item-color);
    background: 0;
    border: 0;
    white-space: nowrap;
    padding: 0px 24px 0px 3px;
    text-align: left;
    align-items: center;
    font-size: 12px;
    font-family: Roboto, sans-serif;
    cursor: pointer;
}

.contextMenu li:hover {
    background-color: var(--item-bg-hover);
}

img.context-icon {
    margin: 2px;
    width: 18px;
    height: 18px;
    filter: invert(99%) sepia(1%) saturate(402%) hue-rotate(179deg) brightness(98%) contrast(100%);
    padding-right: 4px;
}

img.menu-icon {
    width: 20px;
    filter: invert(99%) sepia(1%) saturate(402%) hue-rotate(179deg) brightness(98%) contrast(100%);
    padding: 0 2px 0 2px;
}

td {
    vertical-align: middle;
}

.btn-tree {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    border-radius: 4px;
    width: 24px;
    height: 24px;
}

    .btn-tree:hover {
        background-color: var(--bs-primary-light);
    }

    .btn-tree img.context-icon {
        position: relative;
        margin: 1px 0 0 0;
        padding: 0 0 0 0;
        width: 18px;
        height: 18px;
        filter: invert(99%) sepia(1%) saturate(402%) hue-rotate(179deg) brightness(98%) contrast(100%);
        vertical-align: top;
    }

    .btn-tree:hover > img {
        filter: invert(15%) brightness(98%) contrast(100%);
    }

@-webkit-keyframes menuAnimation {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        height: var(--height);
        opacity: 1;
        border-radius: 2px;
        transform: scale(1);
    }
}

@keyframes menuAnimation {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        height: var(--height);
        opacity: 1;
        border-radius: 2px;
        transform: scale(1);
    }
}

@-webkit-keyframes menuItemAnimation {
    0% {
        opacity: 0;
        transform: translateX(-8px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes menuItemAnimation {
    0% {
        opacity: 0;
        transform: translateX(-8px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
/* CONTEXT MENU END*/
/*SCROLLBAR START */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
    border: 1px solid var(--bs-gray-800);
    border-radius: 9999px;
}

*::-webkit-scrollbar-corner {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--bs-gray-600);
    border-radius: 9999px;
}
/*SCROLLBAR END */


/* PROPERTIES VIEW START */
.properties-view-template {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.property-template {
    background-color: var(--bs-gray-800);
    border-radius: 4px;
    padding: 4px;
    margin: 4px 4px 0 4px;
    width: 48%;
}

    .property-template .form-group {
        display: flex;
        flex-direction: column;
    }

    .property-template input {
        display: flex;
        align-self: flex-end;
        text-align: center;
        width: 100%;
    }

    .property-template .form-check-input {
        display: flex;
        align-self: center;
        text-align: center;
        width: 1.5em;
        height: 1.5em;
        margin: 0;
    }

    .property-template .value-block {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

.property {
    background-color: var(--bs-gray-800);
    border-radius: 4px;
    padding: 4px;
    margin: 4px 4px 0 4px;
}

    .property .form-group {
        display: flex;
        flex-direction: column;
    }

    .property input {
        display: flex;
        align-self: flex-end;
        text-align: center;
        width: 100%;
    }

    .property .form-check-input {
        display: flex;
        align-self: center;
        text-align: center;
        width: 1.5em;
        height: 1.5em;
        margin: 0;
    }

.form-select > * {
    background-color: var(--bs-primary-darker);
}

.form-select:hover {
    background-color: var(--bs-primary);
}

.form-select:active {
    background-color: var(--bs-primary-light);
}

select option:focus,
select option:active {
    color: var(--bs-gray-100);
    background: var(--bs-info-dark);
    background-color: var(--bs-primary-lighter) !important; /* for IE */
}

select option:hover {
    background-color: var(--bs-info) !important; /* for IE */
}

select option:checked {
    background: var(--bs-primary);
    background-color: var(--bs-primary) !important; /* for IE */
}

.form-check-input {
    background-color: var(--bs-secondary);
}

    .form-check-input[type=checkbox] {
        background-color: var(--bs-secondary);
        border-radius: 4px;
        border: 1px inset var(--bs-secondary-dark);
    }

    .form-check-input:checked {
        background-color: var(--bs-secondary);
        border: 2px groove var(--bs-secondary-light);
    }

    .form-check-input:hover {
        background-color: var(--bs-primary);
    }

.property .value-block {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.value-block .value-block-left {
    width: 33%;
}

.value-block .value-block-right {
    margin-left: 4px;
    display: flex;
    align-self: flex-end;
    padding-right: 16%;
    width: 66%;
    overflow: hidden;
}

.value-block-right-composite {
    flex-direction: column;
}

.property-title {
    width: 100%;
}
.property-title:hover {
    background-color:var(--bs-primary);
    border-radius:4px;
}

.properties-context-title {
    background-color: var(--bs-gray-900);
    border-radius: 4px;
    padding: 4px;
    margin: 4px 4px 4px 4px;
    text-shadow: 2px 2px 2px var(--bs-black);
}

.properties-overflow {
    position: relative;
    width: 100%;
    height: calc(100% - 27px);
    overflow: auto;
    background-color: var(--bs-secondary-darker);
    margin-top: 2px;
    border-radius: 4px;
    padding: 2px;
}

.properties-view {
    position: relative;
}

.value-title {
    padding-top: 4px;
    display: flex;
    justify-content: flex-end;
}

.value-block button:not(.toggle-property) {
    padding: 0 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-gray-100);
    background-color: var(--bs-secondary);
    border: 1px solid var(--bs-secondary-darker);
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: default;
    max-width: 23px;
    max-height: 23px;
    text-align: left;
}

.value-block button.btn-confirm {
    display: flex;
    padding: 0 8px;
    font-size: 14px;
    color: var(--bs-gray-100);
    background-color: var(--bs-secondary-darker);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: default;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    text-align: left;
    border: 1px solid var(--bs-info);
}

.value-block button:hover {
    background-color: var(--bs-primary);
}

.value-block button img:not(.delete-choice) {
    position: relative;
    left: -6px;
    top: -2px;
    width: 18px;
    height: 18px;
}

.value-block button:active {
    background-color: var(--bs-primary-light);
    transition: background-color .15s ease-in-out;
}

.toggle-property {
    vertical-align: middle;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    height: 18px;
    width: 18px;
    border-radius: 4px;
}

    .toggle-property:hover {
        background-color: var(--bs-primary);
    }

    .toggle-property img {
        position: relative;
        width: 18px;
        height: 18px;
        margin: 0px;
        padding: 0px;
        vertical-align: top;
    }

        .toggle-property img.context-icon {
            filter: invert(57%) sepia(0%) saturate(1314%) hue-rotate(213deg) brightness(88%) contrast(82%);
        }
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

div.fileinputs {
    position: relative;
}

    div.fileinputs:hover > div.fakefile {
        background-color: var(--bs-primary);
        padding-bottom: 1px;
    }

    div.fileinputs:hover > div.fakefilepath {
        padding-bottom: 1px;
        background-color: var(--bs-primary);
    }

div.fakefilepath {
    position: absolute;
    margin: 2px;
    top: 0px;
    left: 24px;
    z-index: 1;
    border-radius: 4px;
}

div.fakefile {
    position: absolute;
    margin: 2px;
    top: 0px;
    left: 0px;
    z-index: 1;
    border-radius: 4px;
}

    div.fakefile img {
        padding: 0px;
    }

input.file {
    position: relative;
    text-align: right;
    -moz-opacity: 0;
    filter: alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
}

fieldset .form-check-input:checked {
    border: none;
}
/* PROPERTIES VIEW END */
/* Button in dialog, ui */
.ui-dialog-window {
    box-shadow: 0 0 1rem var(--bs-black);
}
.dialog-new-project {
    overflow: auto !important;
    width: 100% !important;
    height: 100% !important;
     background-color: var(--bs-primary-darker);
     min-height:400px !important;
}
.ui-dialog .ui-dialog-buttonpane button{
    margin:0 0 0 0;
    cursor: default;
}
.ui-dialog-hide-handler .ui-resizable-handle {
    opacity: 0;
}
.ui-dialog .ui-dialog-content {
    padding: 0;
    background-color: #1d1d1d;
}
.ui-focus-hitbox .ui-resizable-handle{
    display:block !important;
}
.ui-icon-close {
    background-image: url(../images/icons/xmark.svg);
    background-size: contain;
    filter: invert(99%) sepia(1%) saturate(402%) hue-rotate(179deg) brightness(98%) contrast(100%);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--bs-secondary-lighter);
    border: 1px solid var(--bs-secondary-light);
}
/* Button dialog end*/
/* Preferences START*/
.dialog-preferences {
    overflow: auto !important;
    width: 100% !important;
    height: 100% !important;
    background-color: var(--bs-primary-darker);
    min-height: 400px !important;
}
.preference-details {    
    width:75%;
    overflow: clip;
    background-color: var(--bs-secondary-dark);
    margin: 8px;
    border-radius: 4px;
    background-color: #222;
    border: 1px solid var(--bs-secondary-dark);
}
.preference-column {
    width: 25%;
    overflow: auto;
    margin: 8px;
    border-radius: 4px;
    background-color: #222;
    border: 1px solid var(--bs-secondary-dark);
}
/* Preferences End*/
.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.navbar-nav .dropdown-menu {
    position: static;
}

/* lato-100 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    src: local(''), url('../fonts/lato-v23-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v23-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-100italic - latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 100;
    src: local(''), url('../fonts/lato-v23-latin-100italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v23-latin-100italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-300 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local(''), url('../fonts/lato-v23-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v23-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-300italic - latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    src: local(''), url('../fonts/lato-v23-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v23-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-italic - latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local(''), url('../fonts/lato-v23-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v23-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700italic - latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: local(''), url('../fonts/lato-v23-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v23-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''), url('../fonts/lato-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900italic - latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 900;
    src: local(''), url('../fonts/lato-v23-latin-900italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/lato-v23-latin-900italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-100 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local(''), url('../fonts/roboto-v30-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v30-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-100italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: local(''), url('../fonts/roboto-v30-latin-100italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v30-latin-100italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local(''), url('../fonts/roboto-v30-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v30-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local(''), url('../fonts/roboto-v30-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v30-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local(''), url('../fonts/roboto-v30-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v30-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''), url('../fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v30-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: local(''), url('../fonts/roboto-v30-latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v30-latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('../fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: local(''), url('../fonts/roboto-v30-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v30-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local(''), url('../fonts/roboto-v30-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v30-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900italic - latin */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: local(''), url('../fonts/roboto-v30-latin-900italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto-v30-latin-900italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
