﻿@page "/"
@using FrameDataCreator.Models;
@inject ApplicationController Fdc
@inject IJSRuntime JSRuntime
@inject IRefreshService Refresh
<PageTitle>@Project?.Name - Frame Data Creator v@(Fdc.GetVersion())</PageTitle>
@if (Project != null)
{
    
        
    
    @for (int layountCount = 0; layountCount < Project.Layouts.Count; layountCount++)
    {
        NbColumns = Project.Layouts[layountCount]?.Areas?.GroupBy(c => c.Column).Count() ?? 0;
        <div id="@(Project.Layouts[layountCount].Name)" class="content @(!(Project.Layouts.First().Id==Project.Layouts[layountCount].Id)?"invisible":"")">
            @for (int i = 0; i < NbColumns; i++)
            {
                <div class="content-flex-column @(i==NbColumns-1?"content-flex-last":"")" style="@((i==0 && Project.Layouts[layountCount].Areas[0].Width>0)?$"width:{Project.Layouts[layountCount].Areas[0].Width}%;":"")">
                    @for (int j = 0; j < Project.Layouts[layountCount].Areas.Count; j++)
                    {
                        if (Project.Layouts[layountCount].Areas[j].Column - 1 == i)
                        {
                            var renderColumn = Project.Layouts[layountCount].Areas.GroupBy(x => x.Column)
                            .Select(group => new { Column = group.Key, Area = group.ToList() })
                            .Where(g => g.Column == i + 1)
                            .Select(g => g.Area);
                            var firstOfColumn = renderColumn.First().First();
                            var lastOfColumn = renderColumn.Last().Last();
                            <div class="content-flex-column @(lastOfColumn.Id==Project.Layouts[layountCount].Areas[j].Id?"content-flex-last":"")"
                                 style="@((firstOfColumn.Id==Project.Layouts[layountCount].Areas[j].Id && firstOfColumn.Height>0)?$"height:{firstOfColumn.Height}%;":"")">
                                @switch (Project.Layouts[layountCount].Areas[j].Type)
                                {
                                    case SD.ImageView:
                                        <ImageView></ImageView>
                                        break;
                                    case SD.SpriteView:
                                        <SpriteView></SpriteView>
                                        break;
                                    case SD.TreeView:
                                        <TreeView></TreeView>
                                        break;
                                    case SD.AnimationView:
                                        <AnimationView></AnimationView>
                                        break;
                                    case SD.PropertiesView:
                                        <PropertiesView></PropertiesView>
                                        break;
                                    case SD.TemplatePropertiesView:
                                        <TemplatePropertiesView></TemplatePropertiesView>
                                        break;
                                    case SD.TemplateTreeView:
                                        <TemplateTreeView></TemplateTreeView>
                                        break;
                                }
                            </div>
                            @if (Project.Layouts[layountCount].Areas[j].Id != lastOfColumn.Id)
                            {
                                <div class="resizer" data-direction="vertical"></div>
                            }
                        }
                    }
                </div>
                @if (i != NbColumns - 1)
                {
                    <div class="resizer" data-direction="horizontal"></div>
                }
            }
        </div>
    }
    <NewProjectDialog></NewProjectDialog>
    <PreferenceDialog></PreferenceDialog>
}

@code {
    public Project? Project;
    public int NbColumns = 0;
    protected override async Task OnInitializedAsync()
    {
        Setup();
        Refresh.RefreshRequested += RefreshMe;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/js/contextMenu.js");
            await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/js/site.js");
        }
    }
    private void Setup()
    {
        Project = Fdc.GetProject();
        NbColumns = Project?.Layouts.FirstOrDefault()?.Areas?.GroupBy(c => c.Column).Count() ?? 0;
    }
    private void RefreshMe()
    {
        Setup();
        StateHasChanged();
    }
}