﻿@inject ApplicationController Fdc
@inject IRefreshService Refresh
@inject IJSRuntime JsRuntime

<div id="dialog-new-project" class="card d-flex dialog-new-project" title="Select a project prefab.">
    <div style="overflow: auto; padding: 8px 4px 4px 4px;" class="d-flex flex-wrap align-content-between">
        <div class="d-flex pb-2 flex-wrap overflow-auto">
        @foreach (string prefabName in Prefabs)
        {
                <div class="d-flex flex-column btn btn-outline-header-menu @(_prefabSelected==prefabName?"active":"")" style="width:96px; white-space:normal; cursor: default;" @onclick="()=>_prefabSelected=prefabName">
                    <img src="../images/fdc_logo1024.png" style="max-width:100%;">
                @prefabName
            </div>
        }
        </div>        
    </div>
    <div class="align-self-end mt-auto" style="width: 100%; background-color: var(--bs-secondary-dark); padding: 4px 8px;">
        <label for="projectName">Project Name : </label>
        <input type="text" class="form-control" id="projectName" name="projectName" placeholder="New project" @bind="_projectName">
    </div>
</div>
@code {
    private string _projectName = "New Project";
    private string _prefabSelected;
    public List<string> Prefabs { get; set; }
    private DotNetObjectReference<NewProjectDialog>? objRef;

    [JSInvokable]
    public void JsCreateProject()
    {
        var blank = _prefabSelected == null;
        Fdc.NewProject(_projectName,_prefabSelected,blank);
        CallRefresh();
    }
    public void Dispose()
    {
        objRef?.Dispose();
    }
    protected override async Task OnInitializedAsync()
    {
        Setup(); 
        objRef = DotNetObjectReference.Create(this);
        Refresh.RefreshRequested += RefreshMe;
    }
    protected override void OnAfterRender(bool firstRender)
    {
        Setup(); 
        if (firstRender)
        {
            JsRuntime.InvokeVoidAsync("assignDotNetHelper", objRef);
        }
        base.OnAfterRender(firstRender);
       
    }
    private void CallRefresh()
    {
        Refresh.CallRequestRefresh();
    }
    private void RefreshMe()
    {
        Setup();
        StateHasChanged();
    }
    private void Setup()
    {
        Prefabs = Fdc.GetPrefabs();
    }
}
